/* https://developer-old.gnome.org/gtk3/stable/chap-css-overview.html 
 * https://developer-old.gnome.org/gtk3/unstable/chap-css-properties.html*/

entry {
	min-width: 350px; 
}

progressbar, progress, trough {
	min-height: 32px;
}

window {
	font-size: 24px;
	font-family: "Liberation Sans";
}

window,.layout {
	background: transparent;
}

row {
	padding: 8px;
}

row:selected {
	background: #3b4252;
}

window scrolledwindow.items {
	min-height: 500px;
}

entry {
	border-radius: 0;
	outline: 0;
	border: none;
}

.mode {
	padding: 16px 20px;
	font-size: 32px;
}

.display {
    background-color: #2e3440;
}

.preview {
background-color: #434c5e;	
	border: 0px;
	padding: 8px;
	min-width: 150px;
}

* {
	color: #eceff4;	
}

.header label.APP {
	background-color: #bf616a;
}

.header label.DL {
	background-color: #d08770;
}

.header > * {
	background-color: #4c566a;
}

.header label {
	font-weight: bolder;
}

.bubble {
	font-weight: bold;
	background-color: #81a1c1;
	padding: 8px;
	font-size: 16px;
	border-radius: 50px;
}
