/* https://developer-old.gnome.org/gtk3/stable/chap-css-overview.html 
 * https://developer-old.gnome.org/gtk3/unstable/chap-css-properties.html*/

.favourites {
	background-color: skyblue;
	color: white;
	padding: 0 18px;
}

progress, trough {
	min-height: 32px;
}

progressbar trough progress {
	background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

window,.layout {
	background: transparent;
}

window, row {
	font-family: "Liberation Sans";
}

.display {

    background-color: #221529;
}

row:selected {
	background: red;
}

row {
	padding: 8px;
}

.mode {
	padding: 16px 20px;
	font-size: 32px;
}

row box label{
	font-size: 18px;
}

window scrolledwindow {
	min-height: 500px;
	min-width: 400px;
}

entry {
	border-radius: 0;
}

window label {
	color: #fafafa ;
}

.APP {
	background-color: #d64562 ;
}

.DL {
	background-color: #f2735c;
}

.mode {
	color: #fafafa ;
	padding: 16px;
	font-weight: bolder;
}
