/* https://developer-old.gnome.org/gtk3/stable/chap-css-overview.html 
 * https://developer-old.gnome.org/gtk3/unstable/chap-css-properties.html*/

entry {
	min-width: 350px; 
	font-family: "monospace";
}

.items {
	min-width: 450px;
}

progressbar, progress, trough {
	min-height: 32px;
}

window {
	font-size: 24px;
	font-family: "Liberation Sans";
}

window,.layout {
	background: transparent;
}

row {
	padding: 8px;
}

row:selected {
	background: #3b4252;
}

window scrolledwindow.items {
	min-height: 500px;
}


entry, entry:focus {
	border-radius: 0;
	outline: 0;
	box-shadow: none;
	border: none;
}

.mode {
	padding: 16px 20px;
	font-size: 32px;
	min-width: 50px;
}

checkbutton label {
	margin-left: 16px;
}

.display, .dashboard-todo-view {
    background-color: #2e3440;
}

.preview {
background-color: #434c5e;	
	border: 0px;
	padding: 8px;
	min-width: 150px;
}

* {
	color: #eceff4;	
}

.header label.APP {
	background-color: #bf616a;
}

.header label.DL {
	background-color: #d08770;
}

.header > * {
	background-color: #4c566a;
}

.header label {
	font-weight: bolder;
}

.bubble {
	font-weight: bold;
	background-color: #81a1c1;
	padding: 8px;
	font-size: 16px;
	border-radius: 50px;
}

.dashboard-clock {
	font-family: "Bungee";
	font-size: 50px;
	color: white;
	background: #ebcb8b;
	margin: 8px;
	border-radius: 8px;
}

.dashboard-launcher {
	border-radius: 8px;
	background: #3b4252;
	margin: 8px;
}

.dashboard-launcher button {
	background: none;
	border: 0;
	outline: 0;
	box-shadow: 0 0;
}

.dashboard-quote {
	background-color: #bf616a;
	border-radius: 8px;
	color: white;
	margin: 8px;
}

.dashboard-todo-view {
	margin: 8px;
}

.dashboard-todo-item checkbutton {
	padding: 4px;
	border-radius: 100%;
}

.dashboard-todo-item {
	margin: 0 6px;
	border-radius: 8px;
	padding: 12px;
	background: #3b4252; 
}
